<% app_name = daylight_settings["app_name"].presence || "Daylight" %>
<!DOCTYPE html>
<html data-controller="color-scheme">
  <head>
    <title><%= content_for(:title) || app_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag if respond_to?(:action_cable_meta_tag) %>

    <script>
      (function() {
        var saved = localStorage.getItem("daylight-theme");
        if (saved && saved !== "system") {
          document.documentElement.setAttribute("data-color-scheme", saved);
        }
      })();
    </script>

    <%= stylesheet_link_tag "css-zero/reset", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/variables", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "daylight/application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/utilities", "data-turbo-track": "reload" %>
    <%= render "layouts/daylight/branding_styles" %>
    <%= javascript_importmap_tags "daylight/application" %>
  </head>

  <body>
    <div class="sidebar-layout" data-controller="toggle-class" data-toggle-class-toggle-class="closed">
      <aside id="sidebar">
        <% if content_for?(:sidebar) %>
          <%= yield :sidebar %>
        <% else %>
          <%= render "daylight/shared/sidebar" %>
        <% end %>
      </aside>

      <main id="main">
        <%= render "daylight/shared/flash" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
